body{
    background-color: black;
    width: 100%;
    /* height: max-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding:2%;
    color:white;
    align-items: center;
    position: fixed;
    background-color: #000;
    z-index: 10;
}
.log{
    width: 150px;
}
.logo,.items,.socials{
    display:flex;
    justify-content: space-evenly;
    width: 20%;
}
.items{
    width:60%;
}
.items>a,.socials>a{
    color: white;
    text-decoration: none;
}
.items>a:hover{
    color: #ffd744;
    border-bottom: 1px solid #ffd744;
}
.main{
    margin-top: 15vh;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding:2%;
    color:white;
}
.mr,.ml{
    height: 4 90px;
}
.ml>h2{
    font-family: 'Roboto', sans-serif;
    font-size: 75px;
}
.ml>h5{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 200;
}

.mr{
    background-color: #ffd744;
    margin-left: 5%;
    border: 10px solid white;
}
img{
    width: 480px;

}
.ml{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    
}
.ml>a{
    margin-top: 20px;
    text-decoration: none;
    color: black;
    background-color: #ffd744;
    padding: 2%;
    border-radius: 5px;
}
.ml>a:hover{
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: white 2px solid;
    
}
#change1 {
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}

.skill{
    height: 90vh;
    margin: 12.5vh 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.head{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 2vh;
} 
.exp2{
    display: flex;
 }

.container{
    display: flex;
    width: 350px;
    padding: 20px 0;
    border-radius: 1px;
    background: rgb(0, 0, 0);
    row-gap: 15px;
    flex-direction: column;
    align-items: center;
}
.circular-progress1,.circular-progress2,.circular-progress3,.circular-progress4,.circular-progress5,.circular-progress6{
    position: relative;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background: conic-gradient(#ffd744 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
}
.circular-progress1::before,.circular-progress2::before,.circular-progress3::before,.circular-progress4::before,.circular-progress5::before,.circular-progress6::before{
    content: "";
    position: absolute;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}
.progress-value1,.progress-value2,.progress-value3,.progress-value4,.progress-value5,.progress-value6{
    position: relative;
    font-size: 20px;
    font-weight: 200;
    color: #ffd744;
}
.text{
    font-size: 20px;
    font-weight: 500;
    color: #ffd744;
}

.about{
    margin-top: 12.5vh;
    width:80%;
    color: white;
    display: flex;
    flex-direction: column;

}
.about>.abt{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
}
.about>.p{
    font-family: 'Poppins', sans-serif;
    line-height: 4.5vh;
    margin-bottom: 4vh;
}
.one{
    display: flex;
    justify-content:space-between;
}
.academics,.experience{
    width: 45%;
    margin-bottom: 5vh;

}
.academics>h5,.experience>h5{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.academics>li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin: 2vh 0;
}
.e{
    font-size: larger;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin: 0.5vh 0;
}
.s{
    margin: 0 1vw 0 0vw;
}
.e2>p{
    margin-top: 0.5vh;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 3vh;
}

.projects{
    margin: 12.5vh 0;
    width: 80%;
    color:white;
}
.pr{
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4vh;
}
.cont{
    display: flex;
    justify-content: space-evenly;
}
.crd{
    width: 30%;
    border: #343434 1px solid;
    margin-bottom: 10vh;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, #100e1c, #14122a, #1b1b31);
}
.pt{
    display: flex;
    justify-content: center; 
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.5vh;
}
.pi>img{
    width: 100%;
}
.pb{
    margin-top: 9px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.g{
    text-decoration: none;
    color: #ffd744;
    
    padding: 1.2vh 2.5vw;
    font-size: larger;
    margin-right: 2px;
}
.v{
    text-decoration: none;
    color: white;
    padding: 1.2vh 1.5vw;
    font-size: larger;
}
.g:hover{
    color: white;
}
.v:hover{
    color: #ffd744;
}
.contact{
    color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20vh;
}
.chead{
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4vh;
}
form{
    padding-left: 5vw;
}
input{
    width:45%;
    background-color: #000;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    margin-right: 1.5vw;
    margin-bottom: 2vh;
    padding-bottom: 0.5vh;
}
textarea{
    width:93%;
    background-color: #000;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 5vh;
}
input:focus,textarea:focus{
    outline: none;
    color:#ffd744;
    border-color: #ffd744;
}
form>button{
    font-size: large;
    margin-left: 40%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ffd744;
    color: black;
    border: none;
}
form>button:hover{
    background: #000;
    color: white;
    border: 1px solid white;
    transition: ease-in-out 0.5s;
}
footer{
    width: 100%;
    border-top: 0.1px solid rgb(113, 113, 113);
    padding: 5%;
    opacity: 0.5;
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.socials>a:hover{
    color: #ffd744;
}